@(sourceCode: String, hints: List[String], siteCode:String, desc:String) 
@main(desc + " - " + "Hint and Solution") {
<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/prettify-skin-desert-trunk.css")'>
<script src='@routes.Assets.at("prettify-small-4-Mar-2013/google-code-prettify/prettify.js")'></script>

<h4>PROBLEM INFO</h4>
<ul>
	<li>@desc</li>
</ul>

<h4>ATTENTION</h4>
<ul>
	<li class="text-warning">Before see the hints, Try to solve by yourself.</li>
	<li class="text-warning">Before see the source code, Try to solve by yourself.</li>
</ul>
<h4>HINTS</h4>
<ul>
	@for(hint <- hints) {
	<li>@hint</li> }
</ul>

<h4>SOURCE CODE</h4>
<pre class="small prettyprint lang-java small-tab">@sourceCode</pre>
<p>
	For simplicity and to use the common algorithms, this solution is using
	psjava library (<a href="http://psjava.org">http://psjava.org</a>)
</p>
@*<button type="button" class="btn btn-default">Copy to clipboard</button>*@
}

<script>
prettyPrint();
</script>